<div class="summary rounded-3 shadow-sm mt-3">
    <div class="row p-4 align-items-center">
        <div class="col-12 col-lg-4 text-center">
            <img src="assets/images/profile.png" alt="mghcs87 image">
        </div>
        <div class="col-12 col-lg-8">
            <h2>Lorem ipsum</h2>
            <h5>Lorem ipsum dolor sit amet</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, dolor error. Repellendus nobis similique aut possimus ullam repellat fuga veritatis nam voluptate unde repudiandae, enim labore adipisci quis tempora debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, dolor error. Repellendus nobis similique aut possimus ullam repellat fuga veritatis nam voluptate unde repudiandae, enim labore adipisci quis tempora debitis. repellat fuga veritatis nam voluptate unde repudiandae, enim labore adipisci quis tempora debitis.</p>
        </div>
    </div>
</div>
