span{
    font-size: 1rem;
}

.color-unselected{
    color: var(--app-color-background-items);
}

.color-low{
    color: var(--app-color-low);
}

.color-basic{
    color: var(--app-color-basic);
}

.color-medium{
    color: var(--app-color-medium);
}

.color-high{
    color: var(--app-color-high);
}

.color-very-high{
    color: var(--app-color-very-high);
}

