/** Theme CSS Variables **/

/*
 * Light Theme
 * -------------------------------------------
 */
:root {
    --app-color-background: #ECEFF1;
    --app-color-background-items: #ffffff;
    --app-color-text: #616161;
    --app-color-accent: #4CAF50;
    --app-color-footer: #BDBDBD;
 
}

/*
 * Dark Theme
 * -------------------------------------------
 */
body.dark {
    --app-color-background: #1c1d2a;
    --app-color-background-items: #2f334d;
    --app-color-text: #FAFAFA;
    --app-color-accent: #4CAF50;
    --app-color-footer: #78909C;

}